*.o
*.a
*.so
.libs/
.deps/
obj/
build/
build-*/
Makefile
config.log
config.status
wallet.dat
blk*.dat
blkindex.dat
peers.dat
Coino.conf
.CoinoV2/
data/
*.bak
*.bak*
*.tar.gz
*.zip
.DS_Store
._*
*.pem
*.key
